<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzz.shop.product.mapper.ProductMapper">

    <update id="updateProductCount">
        update t_product set t_pro_stock = t_pro_stock - ${newCount} where id = ${productId};
    </update>

</mapper>
